.referral-detail {
    margin: 20px;
  }
  
  .referral-detail h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .referral-detail p {
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  